@{
    ViewData["Title"] = "Subscribe to our Newsletter";
    ViewData["LabelEmail"] = "Enter your email";
    ViewData["LabelHeard"] = "How do you heard about us ?";
    ViewData["LabelReason"] = "Reason for signing up (optional)";
    ViewData["Subscribe"] = "Subscribe";
}
<section>
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Subscribe" method="post">
        <div class="form-group">
            <label for="Email">@ViewData["LabelEmail"]</label>
            <input type="Email" class="form-control" placeholder="name@mail.com" required>
        </div>

        <div class="form-group">
            <label for="Heard">@ViewData["LabelHeard"]</label>
            <select class="form-control" id="Heard" required>
                <option hidden disabled selected></option>
                <option value="Advert">Advert</option>
                <option value="Word of Mouth">Word of Mouth</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Reason">@ViewData["LabelReason"]</label>
            <textarea class="form-control" id="Reason"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">@ViewData["Subscribe"]</button>
    </form>
</section>
